# Global ignore
.idea/
.DS_Store
*.pem
*.log
*.tmp
*.tfplan
tfplan.*
*.json
coverage
logs

# Environment variables
.env
frontend/.env
backend/.env

# Node modules (local + frontend + backend)
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
dist/
frontend/dist/
backend/dist/

# Terraform state
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraformrc
terraform.rc

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Android / Mobile / Misc
android_play_subs_keys.json
temp/ap-*/
crash.log
gcp-credentials-*.json
notification-*.json
yarn.lock
